.path-grade-report-gradest #region-main {
  overflow-x: visible;
  border: none;
}

/**
 * Container.
 */
.path-grade-report-gradest .gradeparent {
    position: relative;
}

/**
 * Tooltip and overlay.
 */
.path-grade-report-gradest .gradeparent .grader-information-tooltip {
    min-width: 200px;
}

.path-grade-report-gradest .gradeparent .graderreportoverlay {
    background-color: white;
    width: auto;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.path-grade-report-gradest .itemicon {
  width: 32px;
  height: 32px;
  margin-top: 5px;
}

/**
 * The table.
 */
.path-grade-report-gradest .gradeparent table {
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    margin-bottom: 2em;
}

/**
 * All the cells.
 */
.path-grade-report-gradest .gradeparent .cell {
    border: 1px solid #ccc;
    border-top-width: 0;
    border-left-width: 0;
    padding: 3px;
    vertical-align: middle;
    text-align: right;
    white-space: normal;
    max-width: 100px;
    min-width: 100px;
    overflow: hidden;
    text-align: center;
}

.path-grade-report-gradest .userreport.cell {
  max-width: 1.5em;
  min-width: 1.5em;
}

/**
 * Stripped table.
 */
.path-grade-report-gradest .gradeparent tr:nth-of-type(even) .cell {
    background-color: #f9f9f9;
}

/**
 * All the floating divs.
 */
.path-grade-report-gradest .gradeparent .floater {
    display: none;
}

.path-grade-report-gradest .gradeparent .floating {
    display: block;
}

/**
 * All the headers + floating cells.
 */
.path-grade-report-gradest .gradeparent .heading .cell,
.path-grade-report-gradest .gradeparent .avg .cell,
.path-grade-report-gradest .gradeparent .user.cell {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

.path-grade-report-gradest .gradeparent .user.cell {
    max-width: 230px;
    min-width: 180px;
}

.path-grade-report-gradest .gradeparent .user.cell.c0 {
    text-align: left;
}

/**
 * All the floating cells.
 */
.path-grade-report-gradest .gradeparent .floater .cell {
    background-color: #f9f9f9;
}

/**
 * The user cells.
 */
.path-grade-report-gradest .gradeparent .user.cell {
    min-width: 200px;
    width: 200px;
    white-space: normal;
    vertical-align: top;
}

.path-grade-report-gradest .gradeparent .user.cell .userpicture {
    margin: 0 4px;
    border: none;
    vertical-align: middle;
}

.path-grade-report-gradest .gradeitemheader {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90px;
    vertical-align: bottom;
    white-space: nowrap;
}

.path-grade-report-gradest .categoryitemheader {
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    font-size: 1.2em;
    max-width: calc(100% - 40px);
}

.path-grade-report-gradest th {
    text-align: center;
}



/**
 * The additional user fields.
 */
.path-grade-report-gradest .gradeparent .userfield {
    font-weight: normal;
    text-align: center;
}

/**
 * The footer's header.
 */
.path-grade-report-gradest .gradeparent .range .header,
.path-grade-report-gradest .gradeparent .avg .header {
    font-weight: bold;
}

/**
 * The footer's floating cells.
 */
.path-grade-report-gradest .gradeparent .avg.floating .cell {
    border-top-width: 1px;
}

/**
 * The footer's cells.
 */
.path-grade-report-gradest .gradeparent .avg .cell {
    text-align: right;
}
/**
 * Content styling.
 */
.path-grade-report-gradest .gradeparent .heading .cell .iconsmall {
    /* Fixes inconsistencies in cell height on IE. */
    padding-top: 0;
    padding-bottom: 0;
}

.path-grade-report-gradest .gradeparent .sorticon {
    margin-left: 3px;
}

.path-grade-report-gradest .gradeparent .gradevalue {
    display: inline-block;
}

.path-grade-report-gradest span.gradepass {
    color: #298721;
}

.path-grade-report-gradest span.gradefail {
    color: #890d0d;
}

.path-grade-report-gradest .gradeparent tr:nth-child(n) td.overridden:nth-child(n) {
    /* Made very specific to override the default stripped style of the table. */
    background-color: #efd9a4;
}

.path-grade-report-gradest .gradeparent tr:nth-child(n) td.ajaxoverridden:nth-child(n) {
    /* Made very specific to override the default stripped style of the table. */
    background-color: #ffe3a0;
}

.path-grade-report-gradest .gradeparent .excludedfloater {
    font-weight: bold;
    color: red;
    font-size: 9px;
    float: left;
}

.path-grade-report .gradeparent .floater .controls.cell,
.path-grade-report-gradest .gradeparent .controls {
    background-color: #f3ead8;
}

/**
 * Editing fields.
 */
.path-grade-report-gradest .gradeparent select {
    margin: 0;
    padding: 0;
}

.path-grade-report-gradest .gradeparent .text {
    border: 1px solid #666;
    width: 75px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.path-grade-report-gradest .gradeparent .quickfeedback {
    border: 1px dashed #000;
    width: auto;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.path-grade-report-gradest .yui3-overlay {
    border: 0;
    background: none;
    background-color: inherit;
    min-width: 200px;
}

.path-grade-report-gradest .yui3-overlay {
    background-color: white;
    width: auto;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
